<section class="heading-section">
    <h1 class="title is-1 has-text-centered">Todos</h1>
</section>

<div class="container">
    <div class="add-todo-box">
        <form>
            <h2 class="title is-5">New Todo</h2>
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input class="input" type="text" placeholder="Type to-do text here...">
                </p>
                <p class="control">
                    <button class="button alt-gradient-button">
                        <i class="material-icons">add</i>
                        Add
                    </button>
                </p>
            </div>
        </form>
    </div>
</div>
<section class="section">
    <div class="container">
        <div class="todos-list">
            <div class="todo-item completed">
                <div class="check-box">
                    <i class="material-icons">check</i>
                </div>
                <div class="todo-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non finibus augue. Morbi nec mauris urna. Mauris fermentum rutrum convallis. Pellentesque non gravida elit.
                </div>
                <div class="todo-controls-box">
                    <div class="todo-control-button">
                        <i class="material-icons">edit</i>
                    </div>
                    <div class="todo-control-button is-danger">
                        <i class="material-icons">delete</i>
                    </div>
                </div>
            </div>
            <div class="todo-item">
                <div class="check-box">
                    <i class="material-icons">check</i>
                </div>
                <div class="todo-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="todo-controls-box">
                    <div class="todo-control-button">
                        <i class="material-icons">edit</i>
                    </div>
                    <div class="todo-control-button is-danger">
                        <i class="material-icons">delete</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

