.todo-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    position: relative;

    padding: 35px 15px;
    border-bottom: 1px solid #f2f3f5;
    cursor: pointer;

    &.completed {
        color: #aaa;
    }

}

.todo-item .check-box {
    display: flex;
    flex-shrink: 0;
    border: 2px solid #eee;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    margin-right: 20px;
    transition: background-color 0.2s, border-color 0.2s;

    i.material-icons {
        font-size: 20px;
        margin: auto;
        color: #333;
        opacity: 0;
        transition: opacity 0.2s;
    }
}

.todo-item:hover .check-box {
    background: #eee;
    i.material-icons {
        opacity: 0.2;
    }
}

.todo-item.completed .check-box {
    background: rgb(11, 223, 170);
    border-color: rgb(11, 223, 170);
    i.material-icons {
        opacity: 1;
    }
}

.todo-item .todo-controls-box {
    position: absolute;
    bottom: 0;
    right: 5px;
    display: flex;
    opacity: 0;
    visibility: hidden; //hide by default
    transform: translateY(2px);
    transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
}

.todo-item:hover .todo-controls-box {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.2s;
    transform: translateY(0px);
}

.todo-controls-box .todo-control-button {
    display: flex;
    background: #f5f7f8;
    padding: 7px 20px;

    i.material-icons {
        color: #555;
        font-size: 20px;
    }

    &:hover {
        i.material-icons {
            color: #333;
        }

        background: #eee;
    }

    &:active {
        background: #efe7e8;
    }
    &:first-of-type {
        border-top-left-radius: 7px;
    }
    &:last-of-type {
        border-top-right-radius: 7px;
    }
}

.todo-controls-box .todo-control-button.is-danger:active i.material-icons {
    color: rgb(155, 27, 27);
}
