<div class="todo-item" (click)="onTodoClicked()" [class.completed]="todo.completed">
    <div class="check-box">
        <i class="material-icons">check</i>
    </div>
    <div class="todo-text">
        {{todo.text}}
    </div>
    <div class="todo-controls-box">
        <div class="todo-control-button">
            <i class="material-icons">edit</i>
        </div>
        <div class="todo-control-button is-danger">
            <i class="material-icons">delete</i>
        </div>
    </div>
</div>
